* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 26px;
  line-height: 1.4;
  color: #2e1818;
  background-color: #484c50;
}

a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3%;
}
